services:
  postgres:
    image: postgres:16
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  front:
    container_name: portfolio-front
    build:
      context: .
      dockerfile: docker/front.Dockerfile
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=local
    env_file:
      - .env

  admin:
    container_name: portfolio-admin
    build:
      context: .
      dockerfile: docker/admin.Dockerfile
    ports:
      - "3001:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=local
    env_file:
      - .env

  back:
    container_name: portfolio-back
    build:
      context: .
      dockerfile: docker/back.Dockerfile
    ports:
      - "3002:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=local
    env_file:
      - .env

volumes:
  pgdata:







#version: '3.9'
#
#services:
#  postgres:
#    image: postgres:16
#    restart: always
#    env_file:
#      - .env
#    ports:
#      - "5432:5432"
#    volumes:
#      - pgdata:/var/lib/postgresql/data
#
#  front:
#    image: ljy014/portfolio-front:latest
#    container_name: portfolio-front
#    ports:
#      - "3000:3000"
#    restart: unless-stopped
#    env_file:
#      - .env
#
#  admin:
#    image: ljy014/portfolio-admin:latest
#    container_name: portfolio-admin
#    ports:
#      - "3001:3000"
#    restart: unless-stopped
#    env_file:
#      - .env
#
#  back:
#    image: ljy014/portfolio-back:latest
#    container_name: portfolio-back
#    ports:
#      - "3002:3002"
#    restart: unless-stopped
#    env_file:
#      - .env
#
#volumes:
#  pgdata:
