version: '3.9'



services:

  postgres:

    image: postgres:16

    restart: always

    env_file:

      - .env
    ports:

      - "5432:5432"
    volumes:

      - pgdata:/var/lib/postgresql/data

  redis:

    image: redis:7-alpine

    container_name: portfolio-redis

    command:

      [

        "redis-server",

        "--appendonly", "yes",

        "--maxmemory", "256mb",

        "--maxmemory-policy", "allkeys-lru"

      ]

    volumes:

      - redisdata:/data

    restart: unless-stopped


  front:

    image: ljy014/portfolio-front:latest

    container_name: portfolio-front

    expose:

      - "3000"

    env_file:

      - .env

    restart: unless-stopped



  admin:

    image: ljy014/portfolio-admin:latest

    container_name: portfolio-admin

    expose:

      - "3000"

    env_file:

      - .env

    restart: unless-stopped



  back:

    image: ljy014/portfolio-back:latest

    container_name: portfolio-back

    expose:

      - "3002"

    env_file:

      - .env

    environment:

      REDIS_HOST: redis

      REDIS_PORT: 6379


    depends_on:

      - postgres

      - redis

    restart: unless-stopped


  nginx:

    image: nginx:alpine

    container_name: portfolio-nginx

    ports:

      - "80:80"

      - "443:443"

    volumes:

      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro

      - ./certbot/www:/var/www/certbot

      - ./certbot/conf:/etc/letsencrypt

    depends_on:

      - front

      - admin

      - back

    restart: unless-stopped



  certbot:

    image: certbot/certbot

    volumes:

      - ./certbot/www:/var/www/certbot

      - ./certbot/conf:/etc/letsencrypt

    entrypoint: >

      sh -c "trap exit TERM;

      while :; do

        certbot renew --webroot -w /var/www/certbot;

        sleep 12h;

      done"

volumes:
  pgdata:
  redisdata: