version: "3.9"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - front
      - admin
      - back

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: >
      sh -c "while :; do certbot renew --webroot -w /var/www/certbot; sleep 12h; done"

  front:
    image: ${DOCKER_USER:-ljy014}/portfolio-front:latest
    expose:
      - "3000"

  admin:
    image: ${DOCKER_USER:-ljy014}/portfolio-admin:latest
    expose:
      - "3000"

  back:
    image: ${DOCKER_USER:-ljy014}/portfolio-back:latest
    expose:
      - "3002"
    depends_on:
      - postgres
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  postgres:
    image: postgres:16
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
