@import "tailwindcss";

:root {
    padding: 0;
    margin: 0;
}

@layer utilities {
    .bg-primary-gradient {
        background-image: linear-gradient(
                to right,
                var(--color-gradient-from),
                var(--color-gradient-to)
        );
    }
}

@theme {
    --color-primary: #4DBBFF;
    --color-primary-light: #91D5FF;
    --color-primary-lighter: #D0EDFF;
    --color-gray: #E8E8E8;
    --color-gray-dark: #8A8D8E;
    --color-primary-active: #7AB4FF;

    --color-gradient-from: #69C6FF;
    --color-gradient-to: #7BB4FF;
}


.text-3d {
    @apply font-bold text-white;
    text-shadow:
            0 1px 0 #ccc,
            0 2px 0 #c9c9c9,
            0 3px 0 #bbb,
            0 4px 0 #b9b9b9,
            0 5px 0 #aaa,
            0 6px 1px rgba(0, 0, 0, 0.1),
            0 0 5px rgba(0, 0, 0, 0.1),
            0 1px 3px rgba(0, 0, 0, 0.3),
            0 3px 5px rgba(0, 0, 0, 0.2),
            0 5px 10px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.2),
            0 20px 20px rgba(0, 0, 0, 0.15);
}