@import "tailwindcss";

:root {
    padding: 0;
    margin: 0;
}

@layer utilities {
    .bg-primary-gradient {
        background-image: linear-gradient(
                to right,
                var(--color-gradient-from),
                var(--color-gradient-to)
        );
    }
}

@theme {
    --color-primary: #4DBBFF;
    --color-primary-light: #91D5FF;
    --color-primary-lighter: #D0EDFF;
    --color-primary-dark: #157CBC;
    --color-gray: #E8E8E8;
    --color-gray-dark: #8A8D8E;
    --color-primary-active: #7AB4FF;

    --color-gradient-from: #69C6FF;
    --color-gradient-to: #7BB4FF;
}


html {
    scroll-behavior: smooth;
}
